<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management Links</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Links</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/">Home</a>
            </li>
            <li class="list-group-item">
                <a href="/add_event_form">Agregar Evento</a>
            </li>
            <li class="list-group-item">
                <a href="/delete_event_form">Eliminar Evento</a>
            </li>
            <li class="list-group-item">
                <a href="/velocistas">Eventos de Velocistas</a>
            </li>
            <li class="list-group-item">
                <a href="/sumo">Eventos de Sumo</a>
            </li>
            <li class="list-group-item">
                <a href="/minisumo">Eventos de Mini Sumo</a>
            </li>
            <li class="list-group-item">
                <a href="/futbol">Eventos de Futbol</a>
            </li>
        </ul>
    </div>
</body>
</html>
